body {
  margin: 0
}

.NavLink:hover {
  color: orange;
  border-top: 10px solid orange;
  transition: all .5s;
  cursor: pointer;
}

.NavLink {
  border-top: 10px solid rgba(0, 0, 0, 0.85);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  transition: all .5s;
  color: white;
  text-decoration: none;
}